extends layout

block content
  h1 #{title}
  form(method='POST', action='/animals/edit/'+animal._id)
    #form-group
      label Name:
      input.form-control(name='name', type='text', value=animal.name)
    #form-group
      label Color:
      input.form-control(name='color', type='text', value=animal.color)
    #form-group
      label Favorite Food
      input.form-control(name='favfood', type='text', value=animal.favfood)
    #form-group
      label Origin:
      input.form-control(name='origin', type='text', value=animal.origin)
    
    br
    input.btn.btn-primary(type='submit',value='Submit')
